In [1]:
import pandas as pd

In [45]:
df = pd.read_csv("top100banks.csv")
#pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)

In [41]:
df

,rank,bank,country,total_assets_us_b,balance_sheet
0,1,Industrial & Commercial Bank of China,China,"4,005.58",2017-12-31
1,2,China Construction Bank Corp,China,"3,397.13",2017-12-31
2,3,Agricultural Bank of China,China,"3,232.68",2017-12-31
3,4,Bank of China,China,"2,989.16",2017-12-31
4,5,Mitsubishi UFJ Financial Group,Japan,"2,773.82",2017-12-31
5,6,JPMorgan Chase & Co,USA,"2,533.60",2017-12-31
6,7,HSBC Holdings,UK,"2,521.77",2017-12-31
7,8,BNP Paribas,France,"2,348.11",2017-12-31
8,9,Bank of America,USA,"2,281.23",2017-12-31
9,10,China Development Bank,China,"2,201.86",2016-12-31
10,11,Credit Agricole Group,France,"2,112.04",2017-12-31
11,12,Wells Fargo,USA,"1,951.76",2017-12-31
12,13,Japan Post Bank,Japan,"1,873.50",2017-12-31
13,14,Mizuho Financial Group,Japan,"1,850.10",2017-12-31
14,15,Sumitomo Mitsui Financial Group,Japan,"1,847.47",2017-12-31
15,16,Citigroup Inc,USA,"1,843.06",2017-12-31
16,17,Deutsche Bank,Germany,"1,766.85",2017-12-31
17,18,Banco Santander,Spain,"1,730.08",2017-12-31
18,19,Barclays PLC,UK,"1,528.89",2017-12-31
19,20,Societe Generale,France,"1,527.43",2017-12-31
20,21,Groupe BPCE,France,"1,509.13",2017-12-31
21,22,Bank of Communications,China,"1,387.79",2017-12-31
22,23,Postal Savings Bank of China,China,"1,383.85",2017-12-31
23,24,Lloyds Banking Group,UK,"1,095.64",2017-12-31
24,25,Royal Bank of Canada,Canada,"1,028.72",2017-12-31
25,26,ING Groep NV,Netherlands,"1,013.65",2017-12-31
26,27,Toronto-Dominion Bank,Canada,"1,006.98",2017-12-31
27,28,Norinchukin Bank,Japan,"1,006.70",2017-12-31
28,29,UniCredit S.p.A.,Italy,"1,002.36",2017-12-31
29,30,Royal Bank of Scotland Group,UK,995.729,2017-12-31
30,31,Industrial Bank Co. Ltd,China,985.646,2017-12-31
31,32,China Merchants Bank,China,966.117,2017-12-31
32,33,Intesa Sanpaolo,Italy,954.531,2017-12-31
33,34,Credit Mutuel,France,950.531,2016-12-31
34,35,UBS Group AG,Switzerland,937.802,2017-12-31
35,36,Shanghai Pudong Development Bank,China,942.777,2017-12-31
36,37,Goldman Sachs Group,USA,916.787,2017-12-31
37,38,Agricultural Development Bank of China,China,873.419,2017-06-30
38,39,China Minsheng Banking Corp,China,859.407,2017-09-30
39,40,Morgan Stanley,USA,851.733,2017-12-31
40,41,China CITIC Bank Corp,China,832.996,2017-09-30
41,42,BBVA,Spain,826.597,2017-12-31
42,43,Credit Suisse Group,Switzerland,815.587,2017-12-31
43,44,Bank of Nova Scotia,Canada,754.509,2017-12-31
44,45,Commonwealth Bank of Australia,Australia,750.775,2017-12-31
45,46,Rabobank Group,Netherlands,722.301,2017-12-31
46,47,Australia & New Zealand Banking Group,Australia,700.352,2017-09-30
47,48,Nordea,Sweden,695.795,2017-12-31
48,49,European Investment Bank,Luxembourg,686.653,2016-12-31
49,50,Westpac Banking Corp,Australia,664.878,2017-09-30
50,51,Standard Chartered Plc,UK,663.501,2017-12-31
51,52,National Australia Bank,Australia,615.516,2017-09-30
52,53,China Everbright Bank,China,627.737,2017-12-31
53,54,DZ Bank AG,Germany,605.64,2017-12-31
54,55,Bank of Montreal,Canada,578.53,2017-12-31
55,56,Sumitomo Mitsui Trust Holdings,Japan,569.949,2017-12-31
56,57,Danske Bank,Denmark,569.335,2017-12-31
57,58,KfW Group,Germany,565.392,2017-12-31
58,59,Commerzbank,Germany,541.434,2017-12-31
59,60,State Bank of India,India,534.903,2017-12-31
60,61,Cassa Depositi e Prestiti (CDP),Italy,496.74,2017-06-30
61,62,The Export-Import Bank of China (Eximbank),China,491.888,2016-12-31
62,63,Canadian Imperial Bank of Commerce,Canada,483.791,2017-12-31
63,64,Ping An Bank,China,481.75,2017-09-30
64,65,ABN AMRO Group NV,Netherlands,470.965,2017-12-31
65,66,Sberbank of Russia,Russia,470.181,2017-12-31
66,67,U.S. Bancorp,USA,462.04,2017-12-31
67,68,CaixaBank,Spain,459.005,2017-12-31
68,69,Itau Unibanco Holding SA,Brazil,437.41,2017-12-31
69,70,Resona Holdings,Japan,434.653,2017-12-31
70,71,Banco do Brasil SA,Brazil,413.147,2017-12-31
71,72,KB Financial Group,South Korea,409.01,2017-12-31
72,73,Shinhan Financial Group,South Korea,399.197,2017-12-31
73,74,Nomura Holdings,Japan,394.791,2017-12-31
74,75,DBS Group Holdings,Singapore,387.252,2017-12-31
75,76,Caixa Economica Federal,Brazil,383.261,2017-09-30
76,77,PNC Financial Services Group,USA,380.768,2017-12-31
77,78,Hua Xia Bank,China,375.543,2017-09-30
78,79,Bank of New York Mellon Corp,USA,371.758,2017-12-31
79,80,Shinkin Central Bank (SCB),Japan,371.313,2017-12-31
80,81,Capital One Financial Corporation,USA,365.693,2017-12-31
81,82,Banco Bradesco SA,Brazil,365.493,2017-12-31
82,83,KBC Group NV,Belgium,350.186,2017-12-31
83,84,Bank of Beijing,China,349.354,2017-09-30
84,85,Oversea-Chinese Banking Corp (OCBC),Singapore,340.297,2017-12-31
85,86,Hana Financial Group,South Korea,337.191,2017-12-31
86,87,Svenska Handelsbanken,Sweden,336.691,2017-12-31
87,88,NongHyup Financial Group,South Korea,333.156,2017-06-30
88,89,Woori Bank,South Korea,332.893,2017-12-31
89,90,DnB ASA,Norway,328.267,2017-12-31
90,91,China Guangfa Bank (CGB),China,314.401,2016-12-31
91,92,Skandinaviska Enskilda Banken,Sweden,311.457,2017-12-31
92,93,Nationwide Building Society,UK,306.963,2017-09-30
93,94,Cathay Financial Holding,Taiwan,293.554,2017-09-30
94,95,Landesbank Baden-Wurttemberg,Germany,285.092,2017-12-31
95,96,La Banque Postale,France,277.278,2017-12-31
96,97,Bank of Shanghai,China,270.242,2017-09-30
97,98,Swedbank,Sweden,269.238,2017-12-31
98,99,United Overseas Bank (UOB),Singapore,268.23,2017-12-31
99,100,Bank of Jiangsu,China,266.798,2017-09-30
100,101,Banco Sabadell,Spain,265.145,2017-12-31
101,102,Bayerische Landesbank,Germany,264.668,2017-06-30
102,103,Erste Group Bank AG,Austria,264.319,2017-12-31
103,104,Brazilian Development Bank (BNDES),Brazil,262.087,2017-09-30
104,105,Industrial Bank of Korea,South Korea,256.641,2017-12-31
105,106,Bankia,Spain,256.261,2017-12-31
106,107,Charles Schwab Corp,USA,243.274,2017-12-31
107,108,Dexia,Belgium,238.847,2017-06-30
108,109,State Street Corp,USA,238.425,2017-12-31
109,110,Raiffeisen Schweiz,Switzerland,233.677,2017-06-30
110,111,Nykredit Group,Denmark,229.493,2017-12-31
111,112,Fubon Financial Holding,Taiwan,225.911,2017-09-30
112,113,VTB Bank,Russia,225.604,2017-12-31
113,114,China ZheShang Bank (CZBank),China,223.148,2017-06-30
114,115,BB&T Corporation,USA,221.642,2017-12-31
115,116,Qatar National Bank,Qatar,221.18,2017-12-31
116,117,National Bank of Canada,Canada,208.408,2017-12-31
117,118,Suntrust Banks,USA,205.962,2017-12-31
118,119,Korea Development Bank,South Korea,205.145,2016-12-31
119,120,Belfius,Belgium,201.192,2017-12-31

1) Seradte banky podle total assets od nejnižší po nejvyšší
2) Seradte bank podle abecedy (z-a)
3) Vypocitejte soucet všech assets, vypocitejte median vsech assets
4) Vytvorte seznam vsech zemi v kterých se banky nachází (a-z)
5) Udelejte tabulku - kolik bank je v které zemi (např: USA: 5) (a-z)
6) Udelejte tabulku - kolik bank je v které zemi a kolik mají dohromady assets (a-z)
7) Udelejte tabulku kde bude z každé země pouze banky s nejvíce assets (a-z)
8) Vypiste banky ktere zacinaji pouze na "B"
9) Vypiste banky ktere maji assets nad 1000 mld USD 
10) Udelejte tabulku - banky zacinajici na stejne pismeno a kolik mají dohromady assets (a-z)

In [12]:
list_of_countries = sorted(df["country"].unique())
print(list_of_countries)

['Australia', 'Austria', 'Belgium', 'Brazil', 'Canada', 'China', 'Denmark', 'France', 'Germany', 'India', 'Italy', 'Japan', 'Luxembourg', 'Netherlands', 'Norway', 'Qatar', 'Russia', 'Singapore', 'South Korea', 'Spain', 'Sweden', 'Switzerland', 'Taiwan', 'UK', 'USA']

In [25]:
#grouped_by_countries = df.groupby("country")
#print(grouped_by_countries)

print(df["country"].value_counts().sort_index(ascending=True))

Australia       4
Austria         1
Belgium         3
Brazil          5
Canada          6
China          22
Denmark         2
France          6
Germany         6
India           1
Italy           3
Japan           9
Luxembourg      1
Netherlands     3
Norway          1
Qatar           1
Russia          2
Singapore       3
South Korea     7
Spain           5
Sweden          4
Switzerland     3
Taiwan          2
UK              6
USA            14
Name: country, dtype: int64

In [26]:
filt = lambda x: float(x.replace(",", ""))
df["total_assets_us_b"] = df["total_assets_us_b"].map(filt) 
grouped = df.groupby("country").agg({"bank":["count"], "total_assets_us_b": ["sum"]})
print(grouped)
print(grouped.sort_values(["country"]))

             bank total_assets_us_b
            count               sum
country
Australia       4          2731.521
Austria         1           264.319
Belgium         3           790.225
Brazil          5          1861.398
Canada          6          4060.938
China          22         27459.273
Denmark         2           798.828
France          6          8724.519
Germany         6          4029.076
India           1           534.903
Italy           3          2453.631
Japan           9         11122.296
Luxembourg      1           686.653
Netherlands     3          2206.916
Norway          1           328.267
Qatar           1           221.180
Russia          2           695.785
Singapore       3           995.779
South Korea     7          2273.233
Spain           5          3537.088
Sweden          4          1613.181
Switzerland     3          1987.066
Taiwan          2           519.465
UK              6          7112.493
USA            14         12867.732
             bank total_assets_us_b
            count               sum
country
Australia       4          2731.521
Austria         1           264.319
Belgium         3           790.225
Brazil          5          1861.398
Canada          6          4060.938
China          22         27459.273
Denmark         2           798.828
France          6          8724.519
Germany         6          4029.076
India           1           534.903
Italy           3          2453.631
Japan           9         11122.296
Luxembourg      1           686.653
Netherlands     3          2206.916
Norway          1           328.267
Qatar           1           221.180
Russia          2           695.785
Singapore       3           995.779
South Korea     7          2273.233
Spain           5          3537.088
Sweden          4          1613.181
Switzerland     3          1987.066
Taiwan          2           519.465
UK              6          7112.493
USA            14         12867.732

In [27]:
filt = df["bank"].str.startswith('B')  # UK, USA
print(df.loc[filt])

     rank                                bank  country  total_assets_us_b  \
3       4                       Bank of China    China           2989.160
7       8                         BNP Paribas   France           2348.110
8       9                     Bank of America      USA           2281.230
17     18                     Banco Santander    Spain           1730.080
18     19                        Barclays PLC       UK           1528.890
21     22              Bank of Communications    China           1387.790
41     42                                BBVA    Spain            826.597
43     44                 Bank of Nova Scotia   Canada            754.509
54     55                    Bank of Montreal   Canada            578.530
70     71                  Banco do Brasil SA   Brazil            413.147
78     79        Bank of New York Mellon Corp      USA            371.758
81     82                   Banco Bradesco SA   Brazil            365.493
83     84                     Bank of Beijing    China            349.354
96     97                    Bank of Shanghai    China            270.242
99    100                     Bank of Jiangsu    China            266.798
100   101                      Banco Sabadell    Spain            265.145
101   102               Bayerische Landesbank  Germany            264.668
103   104  Brazilian Development Bank (BNDES)   Brazil            262.087
105   106                              Bankia    Spain            256.261
114   115                    BB&T Corporation      USA            221.642
119   120                             Belfius  Belgium            201.192

    balance_sheet
3      2017-12-31
7      2017-12-31
8      2017-12-31
17     2017-12-31
18     2017-12-31
21     2017-12-31
41     2017-12-31
43     2017-12-31
54     2017-12-31
70     2017-12-31
78     2017-12-31
81     2017-12-31
83     2017-09-30
96     2017-09-30
99     2017-09-30
100    2017-12-31
101    2017-06-30
103    2017-09-30
105    2017-12-31
114    2017-12-31
119    2017-12-31

In [30]:
filt_assets = df[df["total_assets_us_b"]> 1000]
print(filt_assets)

    rank                                   bank      country  \
0      1  Industrial & Commercial Bank of China        China
1      2           China Construction Bank Corp        China
2      3             Agricultural Bank of China        China
3      4                          Bank of China        China
4      5         Mitsubishi UFJ Financial Group        Japan
5      6                    JPMorgan Chase & Co          USA
6      7                          HSBC Holdings           UK
7      8                            BNP Paribas       France
8      9                        Bank of America          USA
9     10                 China Development Bank        China
10    11                  Credit Agricole Group       France
11    12                            Wells Fargo          USA
12    13                        Japan Post Bank        Japan
13    14                 Mizuho Financial Group        Japan
14    15        Sumitomo Mitsui Financial Group        Japan
15    16                          Citigroup Inc          USA
16    17                          Deutsche Bank      Germany
17    18                        Banco Santander        Spain
18    19                           Barclays PLC           UK
19    20                       Societe Generale       France
20    21                            Groupe BPCE       France
21    22                 Bank of Communications        China
22    23           Postal Savings Bank of China        China
23    24                   Lloyds Banking Group           UK
24    25                   Royal Bank of Canada       Canada
25    26                           ING Groep NV  Netherlands
26    27                  Toronto-Dominion Bank       Canada
27    28                       Norinchukin Bank        Japan
28    29                       UniCredit S.p.A.        Italy

    total_assets_us_b balance_sheet
0             4005.58    2017-12-31
1             3397.13    2017-12-31
2             3232.68    2017-12-31
3             2989.16    2017-12-31
4             2773.82    2017-12-31
5             2533.60    2017-12-31
6             2521.77    2017-12-31
7             2348.11    2017-12-31
8             2281.23    2017-12-31
9             2201.86    2016-12-31
10            2112.04    2017-12-31
11            1951.76    2017-12-31
12            1873.50    2017-12-31
13            1850.10    2017-12-31
14            1847.47    2017-12-31
15            1843.06    2017-12-31
16            1766.85    2017-12-31
17            1730.08    2017-12-31
18            1528.89    2017-12-31
19            1527.43    2017-12-31
20            1509.13    2017-12-31
21            1387.79    2017-12-31
22            1383.85    2017-12-31
23            1095.64    2017-12-31
24            1028.72    2017-12-31
25            1013.65    2017-12-31
26            1006.98    2017-12-31
27            1006.70    2017-12-31
28            1002.36    2017-12-31

In [46]:
df["first_letter"] = df["bank"].astype(str).str.split(" ").str[0]

In [47]:
df

,rank,bank,country,total_assets_us_b,balance_sheet,first_letter
0,1,Industrial & Commercial Bank of China,China,"4,005.58",2017-12-31,Industrial
1,2,China Construction Bank Corp,China,"3,397.13",2017-12-31,China
2,3,Agricultural Bank of China,China,"3,232.68",2017-12-31,Agricultural
3,4,Bank of China,China,"2,989.16",2017-12-31,Bank
4,5,Mitsubishi UFJ Financial Group,Japan,"2,773.82",2017-12-31,Mitsubishi
5,6,JPMorgan Chase & Co,USA,"2,533.60",2017-12-31,JPMorgan
6,7,HSBC Holdings,UK,"2,521.77",2017-12-31,HSBC
7,8,BNP Paribas,France,"2,348.11",2017-12-31,BNP
8,9,Bank of America,USA,"2,281.23",2017-12-31,Bank
9,10,China Development Bank,China,"2,201.86",2016-12-31,China
10,11,Credit Agricole Group,France,"2,112.04",2017-12-31,Credit
11,12,Wells Fargo,USA,"1,951.76",2017-12-31,Wells
12,13,Japan Post Bank,Japan,"1,873.50",2017-12-31,Japan
13,14,Mizuho Financial Group,Japan,"1,850.10",2017-12-31,Mizuho
14,15,Sumitomo Mitsui Financial Group,Japan,"1,847.47",2017-12-31,Sumitomo
15,16,Citigroup Inc,USA,"1,843.06",2017-12-31,Citigroup
16,17,Deutsche Bank,Germany,"1,766.85",2017-12-31,Deutsche
17,18,Banco Santander,Spain,"1,730.08",2017-12-31,Banco
18,19,Barclays PLC,UK,"1,528.89",2017-12-31,Barclays
19,20,Societe Generale,France,"1,527.43",2017-12-31,Societe
20,21,Groupe BPCE,France,"1,509.13",2017-12-31,Groupe
21,22,Bank of Communications,China,"1,387.79",2017-12-31,Bank
22,23,Postal Savings Bank of China,China,"1,383.85",2017-12-31,Postal
23,24,Lloyds Banking Group,UK,"1,095.64",2017-12-31,Lloyds
24,25,Royal Bank of Canada,Canada,"1,028.72",2017-12-31,Royal
25,26,ING Groep NV,Netherlands,"1,013.65",2017-12-31,ING
26,27,Toronto-Dominion Bank,Canada,"1,006.98",2017-12-31,Toronto-Dominion
27,28,Norinchukin Bank,Japan,"1,006.70",2017-12-31,Norinchukin
28,29,UniCredit S.p.A.,Italy,"1,002.36",2017-12-31,UniCredit
29,30,Royal Bank of Scotland Group,UK,995.729,2017-12-31,Royal
30,31,Industrial Bank Co. Ltd,China,985.646,2017-12-31,Industrial
31,32,China Merchants Bank,China,966.117,2017-12-31,China
32,33,Intesa Sanpaolo,Italy,954.531,2017-12-31,Intesa
33,34,Credit Mutuel,France,950.531,2016-12-31,Credit
34,35,UBS Group AG,Switzerland,937.802,2017-12-31,UBS
35,36,Shanghai Pudong Development Bank,China,942.777,2017-12-31,Shanghai
36,37,Goldman Sachs Group,USA,916.787,2017-12-31,Goldman
37,38,Agricultural Development Bank of China,China,873.419,2017-06-30,Agricultural
38,39,China Minsheng Banking Corp,China,859.407,2017-09-30,China
39,40,Morgan Stanley,USA,851.733,2017-12-31,Morgan
40,41,China CITIC Bank Corp,China,832.996,2017-09-30,China
41,42,BBVA,Spain,826.597,2017-12-31,BBVA
42,43,Credit Suisse Group,Switzerland,815.587,2017-12-31,Credit
43,44,Bank of Nova Scotia,Canada,754.509,2017-12-31,Bank
44,45,Commonwealth Bank of Australia,Australia,750.775,2017-12-31,Commonwealth
45,46,Rabobank Group,Netherlands,722.301,2017-12-31,Rabobank
46,47,Australia & New Zealand Banking Group,Australia,700.352,2017-09-30,Australia
47,48,Nordea,Sweden,695.795,2017-12-31,Nordea
48,49,European Investment Bank,Luxembourg,686.653,2016-12-31,European
49,50,Westpac Banking Corp,Australia,664.878,2017-09-30,Westpac
50,51,Standard Chartered Plc,UK,663.501,2017-12-31,Standard
51,52,National Australia Bank,Australia,615.516,2017-09-30,National
52,53,China Everbright Bank,China,627.737,2017-12-31,China
53,54,DZ Bank AG,Germany,605.64,2017-12-31,DZ
54,55,Bank of Montreal,Canada,578.53,2017-12-31,Bank
55,56,Sumitomo Mitsui Trust Holdings,Japan,569.949,2017-12-31,Sumitomo
56,57,Danske Bank,Denmark,569.335,2017-12-31,Danske
57,58,KfW Group,Germany,565.392,2017-12-31,KfW
58,59,Commerzbank,Germany,541.434,2017-12-31,Commerzbank
59,60,State Bank of India,India,534.903,2017-12-31,State
60,61,Cassa Depositi e Prestiti (CDP),Italy,496.74,2017-06-30,Cassa
61,62,The Export-Import Bank of China (Eximbank),China,491.888,2016-12-31,The
62,63,Canadian Imperial Bank of Commerce,Canada,483.791,2017-12-31,Canadian
63,64,Ping An Bank,China,481.75,2017-09-30,Ping
64,65,ABN AMRO Group NV,Netherlands,470.965,2017-12-31,ABN
65,66,Sberbank of Russia,Russia,470.181,2017-12-31,Sberbank
66,67,U.S. Bancorp,USA,462.04,2017-12-31,U.S.
67,68,CaixaBank,Spain,459.005,2017-12-31,CaixaBank
68,69,Itau Unibanco Holding SA,Brazil,437.41,2017-12-31,Itau
69,70,Resona Holdings,Japan,434.653,2017-12-31,Resona
70,71,Banco do Brasil SA,Brazil,413.147,2017-12-31,Banco
71,72,KB Financial Group,South Korea,409.01,2017-12-31,KB
72,73,Shinhan Financial Group,South Korea,399.197,2017-12-31,Shinhan
73,74,Nomura Holdings,Japan,394.791,2017-12-31,Nomura
74,75,DBS Group Holdings,Singapore,387.252,2017-12-31,DBS
75,76,Caixa Economica Federal,Brazil,383.261,2017-09-30,Caixa
76,77,PNC Financial Services Group,USA,380.768,2017-12-31,PNC
77,78,Hua Xia Bank,China,375.543,2017-09-30,Hua
78,79,Bank of New York Mellon Corp,USA,371.758,2017-12-31,Bank
79,80,Shinkin Central Bank (SCB),Japan,371.313,2017-12-31,Shinkin
80,81,Capital One Financial Corporation,USA,365.693,2017-12-31,Capital
81,82,Banco Bradesco SA,Brazil,365.493,2017-12-31,Banco
82,83,KBC Group NV,Belgium,350.186,2017-12-31,KBC
83,84,Bank of Beijing,China,349.354,2017-09-30,Bank
84,85,Oversea-Chinese Banking Corp (OCBC),Singapore,340.297,2017-12-31,Oversea-Chinese
85,86,Hana Financial Group,South Korea,337.191,2017-12-31,Hana
86,87,Svenska Handelsbanken,Sweden,336.691,2017-12-31,Svenska
87,88,NongHyup Financial Group,South Korea,333.156,2017-06-30,NongHyup
88,89,Woori Bank,South Korea,332.893,2017-12-31,Woori
89,90,DnB ASA,Norway,328.267,2017-12-31,DnB
90,91,China Guangfa Bank (CGB),China,314.401,2016-12-31,China
91,92,Skandinaviska Enskilda Banken,Sweden,311.457,2017-12-31,Skandinaviska
92,93,Nationwide Building Society,UK,306.963,2017-09-30,Nationwide
93,94,Cathay Financial Holding,Taiwan,293.554,2017-09-30,Cathay
94,95,Landesbank Baden-Wurttemberg,Germany,285.092,2017-12-31,Landesbank
95,96,La Banque Postale,France,277.278,2017-12-31,La
96,97,Bank of Shanghai,China,270.242,2017-09-30,Bank
97,98,Swedbank,Sweden,269.238,2017-12-31,Swedbank
98,99,United Overseas Bank (UOB),Singapore,268.23,2017-12-31,United
99,100,Bank of Jiangsu,China,266.798,2017-09-30,Bank
100,101,Banco Sabadell,Spain,265.145,2017-12-31,Banco
101,102,Bayerische Landesbank,Germany,264.668,2017-06-30,Bayerische
102,103,Erste Group Bank AG,Austria,264.319,2017-12-31,Erste
103,104,Brazilian Development Bank (BNDES),Brazil,262.087,2017-09-30,Brazilian
104,105,Industrial Bank of Korea,South Korea,256.641,2017-12-31,Industrial
105,106,Bankia,Spain,256.261,2017-12-31,Bankia
106,107,Charles Schwab Corp,USA,243.274,2017-12-31,Charles
107,108,Dexia,Belgium,238.847,2017-06-30,Dexia
108,109,State Street Corp,USA,238.425,2017-12-31,State
109,110,Raiffeisen Schweiz,Switzerland,233.677,2017-06-30,Raiffeisen
110,111,Nykredit Group,Denmark,229.493,2017-12-31,Nykredit
111,112,Fubon Financial Holding,Taiwan,225.911,2017-09-30,Fubon
112,113,VTB Bank,Russia,225.604,2017-12-31,VTB
113,114,China ZheShang Bank (CZBank),China,223.148,2017-06-30,China
114,115,BB&T Corporation,USA,221.642,2017-12-31,BB&T
115,116,Qatar National Bank,Qatar,221.18,2017-12-31,Qatar
116,117,National Bank of Canada,Canada,208.408,2017-12-31,National
117,118,Suntrust Banks,USA,205.962,2017-12-31,Suntrust
118,119,Korea Development Bank,South Korea,205.145,2016-12-31,Korea
119,120,Belfius,Belgium,201.192,2017-12-31,Belfius

In [ ]:
Udelejte tabulku kde bude z každé země pouze banky s nejvíce assets (a-z)

In [38]:
result = {"countries":[],
          "assets_amount":[]}

list_of_countries = list(df["country"].unique()) 
for i in range(len(df)):
    country = df.loc[i, "country"]
    assets = df.loc[i,"total_assets_us_b"]
    if country in list_of_countries:
        result["countries"].append(country)
        result["assets_amount"].append(assets)
        list_of_countries.remove(country)

df_result = pd.DataFrame(result)
print(df_result)

      countries  assets_amount
0         China       4005.580
1         Japan       2773.820
2           USA       2533.600
3            UK       2521.770
4        France       2348.110
5       Germany       1766.850
6         Spain       1730.080
7        Canada       1028.720
8   Netherlands       1013.650
9         Italy       1002.360
10  Switzerland        937.802
11    Australia        750.775
12       Sweden        695.795
13   Luxembourg        686.653
14      Denmark        569.335
15        India        534.903
16       Russia        470.181
17       Brazil        437.410
18  South Korea        409.010
19    Singapore        387.252
20      Belgium        350.186
21       Norway        328.267
22       Taiwan        293.554
23      Austria        264.319
24        Qatar        221.180

In [34]:
grouped_country = df.groupby('country')
max_assets = grouped_country.max()
max_assets = max_assets.reset_index()
print(max_assets.loc[:,['country','bank','total_assets_us_b']])

        country                                        bank  total_assets_us_b
0     Australia                        Westpac Banking Corp            750.775
1       Austria                         Erste Group Bank AG            264.319
2       Belgium                                KBC Group NV            350.186
3        Brazil                    Itau Unibanco Holding SA            437.410
4        Canada                       Toronto-Dominion Bank           1028.720
5         China  The Export-Import Bank of China (Eximbank)           4005.580
6       Denmark                              Nykredit Group            569.335
7        France                            Societe Generale           2348.110
8       Germany                Landesbank Baden-Wurttemberg           1766.850
9         India                         State Bank of India            534.903
10        Italy                            UniCredit S.p.A.           1002.360
11        Japan              Sumitomo Mitsui Trust Holdings           2773.820
12   Luxembourg                    European Investment Bank            686.653
13  Netherlands                              Rabobank Group           1013.650
14       Norway                                     DnB ASA            328.267
15        Qatar                         Qatar National Bank            221.180
16       Russia                                    VTB Bank            470.181
17    Singapore                  United Overseas Bank (UOB)            387.252
18  South Korea                                  Woori Bank            409.010
19        Spain                                   CaixaBank           1730.080
20       Sweden                                    Swedbank            695.795
21  Switzerland                                UBS Group AG            937.802
22       Taiwan                     Fubon Financial Holding            293.554
23           UK                      Standard Chartered Plc           2521.770
24          USA                                 Wells Fargo           2533.600

In [ ]:







s


s